
<h1>Section <%=@section[:period_number]%></h1>
<h2>Students:</h2>

<% sorted_students = @section.students.sort_by { |s| s.score } %>    

<% sorted_students.each do |student| %>    
    <ul> <%= student[:name] %> - <%= student[:score] %>
		<form action="/students/<%=student[:id].to_i%>" method="POST">
			<input id="hidden" type="hidden" name="_method" value="delete">
			<input id="id" name ="id" type="hidden" value="<%=student[:id].to_i%>">
			<input type="submit" value="Delete Student">
		</form>
		<form action="/students/<%=student[:id].to_i%>" method="POST">
			<input id="id" name ="id" type="hidden" value="<%=student[:id].to_i%>">
			<input type="submit" value="Edit Student">
		</form>
	</ul>
<% end %>

<form action="/sections/<%=@section.id%>/students_arranged" method="POST">
	<input id="section" type="hidden" value="<%=@section_id.to_i%>">
	<input type="submit" value="Create Groups!">
</form>

<form action="/students" method="POST">
	<input id="name" type="text" name="name" placeholder="Student Name">
	<input id="section" type="hidden" name="section" value="<%=session[:section_id]%>">
	<input id="score" type="integer" name="score" placeholder="Student Score">
	<input type="submit" value="Add Student">
</form>

