<h1>Section <%= @selected_section %> Groups:</h1>

<% @all = Student.all %>
<% current_section_of_students = [] %>
<% @all.each do |student| %>
    <% if student[:section] == @selected_section.to_i %>
        <% current_section_of_students << student %>
    <% end %>
<% end %>


<% number_of_students = current_section_of_students.length %>
<% number_of_students %>
<% number_of_groups = number_of_students / 4 %>

<% high = []  %>
<% m_high = []  %>
<% m_low = []  %>
<% low = []  %>
<% counter = 0  %>


<% current_section_of_students = current_section_of_students.sort %>
<% current_section_of_students.each do |student| %>

    <% if counter < number_of_groups %>
        <% high << student %>
    <% elsif counter < (number_of_groups * 2) && counter > number_of_groups %>
        <% m_high << student %>
    <% elsif counter < (number_of_groups * 3) && counter > (number_of_groups * 2) %>
        <% m_low << student %>
    <% elsif counter < (number_of_groups * 5) && counter > (number_of_groups * 3) %>
        <% low << student %>
    <% end %>
    <% counter += 1 %>
<% end %>

<% @counter = 1 %>

<% while @counter < number_of_groups %>
    <h2>Group <%= @counter %>:</h2>
    <%= high.pop[:name] %><br>
    <%= m_high.pop[:name] %><br>
    <%= m_low.pop[:name] %><br>
    <%= low.pop[:name] %><br>
    <% @counter += 1 %>
<% end %>

<% final_group = [high, m_high, m_low, low] %>
<% final_group = final_group.flatten %>
<h2>Group <%= number_of_groups %>:</h2>
<% final_group.each do |student| %>
<%= student[:name] %><br>
<% end %>